
<style>
  
  .category_carousel{
  
    display:flex;
  	margin:30px 0 0 0;
    padding-right:5px;
    position:relative;
    overflow-x:auto;
    -ms-overflow-style: none;  /* IE and Edge */
 	 scrollbar-width: none;  /* Firefox */
    
  }
  
  .cell_img_container img{

    width:100%;
 
  }
  
  .category_carousel::-webkit-scrollbar {
  display: none;
}
  
.cateogory_carousel .product_carousel_cell{
		
		width:25%;
    	margin-left:5px;
    	flex:0 0 auto;
    	
	
	}
  
  .product_carousel_title{
    	position:relative;
  		font-family:Sangbleu;
    	font-size:20px;
    	margin:100px 0 0 20px;
  }

   .product_carousel_cell{
		
		width:25%;
    	margin-left:5px;
    	flex:0 0 auto;
    	
	
	}

  .category-next-btn{
  	position:absolute;
    top:calc(50% - 45px);
    right:8px;
    z-index:2;
    border: none;
	border-radius: 50%;
	background-color:white;
	color: #000;
	cursor: pointer;
	text-align: center;
	z-index: 1;
	vertical-align: middle;
	line-height: 0;
	padding:10px;
    opacity:0.7;
    
   
  }
  
  .category-next-btn:hover{
  	opacity:1;
    color: #000000;
    transform: scale(1.05);
    transition:transform 0.1s ease-in-out;
	
  }
  
  .category-next-btn svg{
  	height:23px;
  }
  
  .category_carousel .cell_title{
  	margin:8px 0 0px 3px;
    line-height:1.3;
    
  }
  
  .category_carousel .cell_price{
  	margin-left:3px;
    margin-top:2px;
  	color:#808080;
    font-size:14px;
    
    
  }
  
  .product_carousel_container{
  
  	position:relative;
  }
  
  @media screen and (max-width:650px){
  
    .category_carousel{
    
    	margin:30px 0 0px 0;
    }
    	.product_carousel_title{
    	
    	margin:50px 0 0 10px;
  }
  	  .product_carousel_cell{
		flex:0 0 auto;
		width:40%;
    	margin-left:5px;
    	
      }
       .category-next-btn{
       	 display:none;
       }
	
	}
  	
  
  
 
  
</style>




		<div class="product_carousel_title">
    		{{section.settings.carousel_name}}
  		</div>  
   
<div class="product_carousel_container">
<div class="category_carousel">
  
  {% assign cta = section.settings.cta %}
 	
	{%- for block in section.blocks -%}
  
  
 	 {% assign image = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
  	  {% assign category_name = block.settings.category_name %}
  	 {% assign url = block.settings.category_url %}	 
 	
	
  
  
  
  		<div class="product_carousel_cell">
      		<a href="{{ url }}">
     		 <div class="cell_img_container">
          		<img  src="{{ image }}"
       			 data-srcset="{{ image }}"
       			 data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
       			 data-sizes="auto"
       			 data-parent-fit="cover"
       			 alt=""
       			 class="lazyload Image--lazyLoad Image--fadeIn">
         	 <noscript>
                  <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ media.alt | escape }}">
          	</noscript>
       		 </div>
              
              <div class="cell_title">
         		{{ category_name }}
        	  </div>
       		 <div class="cell_price">
         		{{cta}}
      	     </div>
    		</a>
 		 </div> 
  
    {%- endfor -%}
 	

  
  
</div>
  
  {%- if section.settings.next_btn == true -%}}
  <span class="category-next-btn">
    <svg viewBox="0 0 100 100">
      <path d="M 20,50 L 60,90 L 60,85 L 25,50  L 60,15 L 60,10 Z" class="arrow" transform="translate(100, 100) rotate(180) ">
      </path>
    </svg>
  </span>
  {%- endif -%}

</div>
 






{% schema %}
  {
    "name": "Category Section",
    "settings": [
  			{
  			
         	"type": "text",
         	"id": "carousel_name",
         	"label": "Category Name"
          	
  			},
  			{
  				 "type": "text",
         		 "id": "cta",
         		 "label": "Call To Action"
  
  			},
			{
  				 "type": "checkbox",
         		 "id": "next_btn",
         		 "label": "Next Button",
				 "default": true
  
  			}
  ],
  	"blocks":[{
  		"name":"Slide",
  		"type":"Slide",
  		"settings":[

  				{
  					
         			 "type": "image_picker",
         			 "id": "image",
         			 "label": "Image"
        			
  				},
  				{
  					 "type": "text",
         			 "id": "category_name",
         			 "label": "Name"
  
  				},
  				{
  					
         			 "type": "url",
         			 "id": "category_url",
         			 "label": "Url"		 
        			
  				}
  
  			]
 		 }
  ],
	"presets":[
		{
			"name":"Category Section"
		}

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

