
<style>

  

      
    .two-col-images{
        display:flex;
      	margin:100px 0px;
      	position:relative;
        
    }
  .img-col-1, .img-col-2{
    flex:1;
 
    position:relative;
   
  }
  
  .img-col-1{
   margin:0px 5px;
  }
  
  .img-col-2{
  	margin-right:5px;
  }
  
  
  
  .two-col-images img{
  	object-fit:cover;
    width:100%;
    height:100%;
    object-position:center;
  }
  
  .two-col-images video{
  	object-fit:cover;
    width:100%;
    height:100%;
  }
  
  .featured-img-label{
  	font-family:Sangbleu-Sans;
    color:white;
    font-size:20px;
    position:absolute;
    left:50%;
    bottom:5%;
    transform:translate(-50%,5%);
    background-color:rgb(0,0,0);
    padding:5px 30px;
    
    
  }
  
  @media screen and (max-width:650px){
  
  .featured-img-label{
  	
    font-size:12px;
  
    
    
  }
    
    .two-col-images{
    margin:80px 0;
    }
  
  }
  
  
  
 

</style>


{%- assign img_1 =  section.settings.img_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign img_2 = section.settings.img_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
{%- assign link_1 = section.settings.link_1 -%}
{%- assign link_2 = section.settings.link_2  -%}
{%- assign label_1 = section.settings.label_1  -%}
{%- assign label_2 = section.settings.label_2  -%}
<section id="section-{{section.id}}" data-section-id={{section.id}} class="two-col-images">
    
    <div class="img-col-1">
   
      
   
    
      
  
      <a href="{{link_1}}">
      <img 
        src="{{ img_1 }}"
        data-srcset="{{ img_1 }}"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ img_1.alt }}"
        class="lazyload Image--lazyLoad Image--fadeIn">
    <noscript>
          <img src="{{ img_1 | img_url: '1400x' }}" alt="{{ img_1.alt }}">
     </noscript>
       {% if label_1 != blank %}
      
      <div class="featured-img-label">
        
       {{label_1}}
        
      </div>
        
        {% endif %}
        
      </a>

    </div>
    <div class="img-col-2">
    <a href="{{link_2}}">
    <img 
        src="{{ img_2 }}"
        data-srcset="{{ img_2 }}"
        data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ img_2.alt }}"
        class="lazyload Image--lazyLoad Image--fadeIn">
   <noscript>
          <img src="{{ img_2 | img_url: '1400x' }}" alt="{{ img_2.alt }}">
     </noscript>
      {% if label_1 != blank %}
       <div class="featured-img-label">
        
       {{label_2}}
        
      </div>
      {% endif %}
      
       </a>

    </div>
  


</section>



{% schema %}
    {
        "name":"Two Column Images",
        "settings":[
            {
                "type":"image_picker",
                "id":"img_1",
                "label":"Image 1"
                
            },
			{
                "type":"text",
                "id":"label_1",
                "label":"Label 1"
                
            },
			{
                "type":"url",
                "id":"link_1",
                "label":"Link 1"
                
            },
			{
                "type":"image_picker",
                "id":"img_2",
                "label":"Image 2"
                
            },

			{
                "type":"text",
                "id":"label_2",
                "label":"Label 2"
                
            },
			{
                "type":"url",
                "id":"link_2",
                "label":"Link"
                
            }

        ],
        "presets":[
            {
                "name":"Two Column Images"
            }

        ]



    }

    
{% endschema %}